/* Write your CSS here */
.image {
  height: 300px;
  width: 400px;
  border-radius: 10px;
  margin: 10px;
}
.name {
  font-family: 'Open Sans';
  font-size: 20px;
  color: #000000;
}
.list {
  min-width: 300px;
  margin: 10px;
}
